body {
    
    background-image: url(imagesfansite3/Korn_background.webp);
    
    h1 {
        font-family: Knewave;
        color: white;
        font-size: x-large;
    }
    .titrepage {
        display: flex;
        margin: auto;
        width: 220px;
        height: 75px;
        border-radius: 50px;
        background-color: rgba(77, 75, 75, 0.808);
            .titre {
            font-family: Knewave;
            color: white;
            font-size: x-large;
            margin: auto;
            }
            
    }
menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    background-color:transparent;
    font-family: Knewave;
    color: white;

    .knewave-regular {
        font-family: "Knewave", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    li {
        padding: 15px;
    }
}

.diap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    img {
    border: solid white;
    border: 5%;
    border-radius: 15px;
    margin: 15px;
    width: 220px;
    height: auto;

    
}
}
.albums {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.album {
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    margin: 15px;
    text-align: left;

    img {
        width: 200px;
        border-radius: 5px;
        padding: 10px;

    }
}
}
